<div class="detail-section">
  <div class="detail api">
    <strong>API:</strong>

    {{#each oil.apis as |api|}}
      <span class="badge badge-dark">
        {{round-relative api.gravity 2}}
      </span>
    {{/each}}

  </div>

  <div class="detail density">
    <strong>Density:</strong>
    {{#each oil.densities as |density|}}
      <span class="badge badge-dark">
        {{value-unit density.density 2}}
        @
        {{value-unit density.ref_temp 2}}
      </span>
    {{else}}
      No Values
    {{/each}}
  </div>

</div>
