<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <Table::Distillation @oil={{oil}} @weathered={{weathered}} class="row"/>
    </div>

    <div class="col-lg-5">
      <strong>Distillation Graph:</strong>

      <Graph::Distillation @oil={{oil}} @weathered={{weathered}} class="row"/>
    </div>

  </div>
</div>
