<div class="container">

  <div class="row">
    <Table::ChemicalDispersibility @oil={{oil}} class="col-4"/>

    <Table::Toxicity @oil={{oil}} class="col-5"/>

    <Table::EvaporationEqs @oil={{oil}} class="col-5"/>
  </div>

</div>
