<div class="jumbo">
  <div class="right oil-logo"></div>

  <h2>About the Online Oil Database</h2>

  <p>
    The Online Oil Database provides the means for querying the physical
    and chemical properties for hundreds of oils.
    It is maintained by the NOAA Office of Response and Restoration (OR&R)
  </p>

</div>
