<div class="jumbo">
  <div class="right oil-logo"></div>

  <h2>Welcome to the NOAA Online Oil Database!</h2>

  <p>Browse through our list of oils, or query for a particular oil.</p>
</div>

{{outlet}}
